
/* Schedule page */
#comp_schedule #schedule-filter {
	float:right;
}
#comp_schedule th[rowspan] {
	vertical-align:middle;
}
#comp_schedule colgroup.arena {
	width:150px;
}
#comp_schedule tbody tr.current {
	background-color:#FFFFB0;
}
