#live-stream-wrapper {
	text-align: center;
}

#live-stream-wrapper > * {
	margin: auto;
}

#live-stream-controls a.selected {
	color: black;
	font-weight: bold;
}

tbody tr:nth-child(odd) {
	/* TODO: make darker */
	background-color: #E8E8E8;
}
tbody tr:hover {
	background-color: #E0E0E0;
}

table.schedule td:nth-child(4n+2) {
	/* border-right:none; */
	border-right:10px solid transparent;
}
table.schedule tr:first-child th:nth-child(n+2) {
	border-right:10px solid transparent;
}
table.schedule td:nth-child(2) {
	text-align:left;
}
table.schedule td {
	text-align:center;
}
table.schedule td.no_match {
	border:0 none;
	/* we still want it to take up space on the page,
	 * so use visibility instead of display.
	 */
	visibility:hidden;
}
table.schedule tbody tr.current,
div.match.current {
	/* TODO: make darker */
	background-color:#FFFFB0;
}

table.sortable th.sorter {
	cursor:pointer;
}
table.sortable th.sorter:after {
	content:" ◊";
	margin-right:2px;
}
table.sortable th.active:after {
	content:" ▴";
	position:relative;
	top:-0.4em;
}
table.sortable tr.reverse th.active:after {
	content:" ▾";
	top:0;
}

div.content ul.comp-nav
{
	list-style:none;
	margin:0;
}
div.content ul.comp-nav > li
{
	float:right;
	padding:0 1em;
}
div.content ul.comp-nav > li:not(:first-child)
{
	border-right:1px solid silver;
}
