div#news_2012-04-16_sr2012_comp_happened iframe.youtube {
	display:block;
	margin:0 auto;
}

div#about_sponsors p {
	overflow:hidden;
}

div#about_sponsors h3 {
	clear:both;
}

/* Subscription form */
div.validation-advice {
	display:inline;
	color:red;
	font-size:small;
}
p.validation-error-msg {
	color:red;
}

/* Teams pages */
/* /teams/ */
ul#teams_container li {
	list-style:none;
	float:left;
	margin:8px;
	text-align:center;
	width:160px;
}
ul#teams_container li p.team_name {
	font-weight:bold;
	text-align:center;
	margin:0;
}
ul#teams_container li p.college_name {
	color:#666;
	font-size:0.7em;
	text-align:center;
	margin:0 0 2px 0;
	line-height:1em;
}

/* ensure a reasonable gap below the list */
ul#teams_container li:last-child {
	margin-bottom: 1em;
}

/* ensure the next text is clear below the list and not to one side */
ul#teams_container + p {
	clear: both;
}

/* /teams/* */

div.team-page div#team-img {
	float:right;
	margin:0 0 20px 30px;
}

div.team-page div#team-img p {
	text-align:right;
	font-size:0.8em;
	color:#666;
	margin:0;
}


div.team-page p#team-links {
	text-align:right;
	margin:0;
}

div.team-page #team-name {
	display:block;
	font-style:italic;
	font-weight:bold;
	margin-right:30px;
}

div.team-page p#team-links {
	text-align:right;
	margin:0;
}
div.team-page p#team-links a img {
	border:0;
	margin:0;
	padding:0;
}
/* If there's only one, indent it a bit */
div.team-page p#team-links > a:only-of-type {
	margin-right:30px;
}

div.team-page p#college-name {
	color:#666;
	font-size:0.7em;
	line-height:1em;
	text-align:right;
	margin:0;
}


div.team-page div.blog-post-date {
	background:#0d1f61;
	color:white;
	float:left;
	width:60px;
	margin-top:5px;
}

div.team-page div.blog-post-date div {
	text-align:center;
	letter-spacing:5px;
	padding-left:5px;
	line-height:1em;
}

div.team-page div.blog-post-date div.day {
	font-size:40px;
	margin-top:3px;
	font-weight:bolder;
}

div.team-page div.blog-post-date div.month {
	text-transform:uppercase;
	font-size:16px;
}

div.team-page div.blog-post-date div.year {
	font-size:14px;
	margin-top:5px;
	margin-bottom:4px;
}

div.team-page div.blog-post-content {
	margin-left:70px;
}

div.team-page div.blog-post-content h3 {
	margin-top:0;
}

div.team-page div.blog-post-content h3 a {
	/* Override 'inherit' set in main.css. Link colour.
	 * Ugly but I can't think of a way around it. */
	color:#DE6400;
}

div#live iframe.twitter-timeline, div#live object.video {
	border:1px solid silver !important;
	padding:3px;
	margin-bottom:10px;
}
div#live iframe.twitter-timeline {
	clear:right;
	float:right;
	margin-left:20px;
}
div#schools_how_to_enter iframe {
	display:block;
	height:520px;
	margin:0 auto;
	width:600px;
}
