RewriteEngine On
RewriteBase /~chris/srweb

RewriteCond %{REQUEST_FILENAME}	!-f
RewriteCond %{REQUEST_URI} 	!^(/community-guidelines(.*))$
RewriteCond %{REQUEST_URI} 	!^(/trac(.*))$
RewriteCond %{REQUEST_URI} 	!^(/piwik(.*))$
RewriteCond %{REQUEST_URI} 	!^(/ide(.*))$
RewriteCond %{REQUEST_URI} 	!^(/userman(.*))$
RewriteCond %{REQUEST_URI} 	!^(/password(.*))$
RewriteCond %{REQUEST_URI} 	!^(/robogit(.*))$
RewriteCond %{REQUEST_URI} 	!^(/tickets(.*))$
RewriteCond %{REQUEST_URI} 	!^(/mediaconsent(.*))$
RewriteCond %{REQUEST_URI} 	!^(/comp(.*))$
RewriteCond %{REQUEST_URI}  !^(/forgotpassword(.*))$
RewriteCond %{REQUEST_URI}  !^(/external-auth(.*))$
RewriteCond %{REQUEST_URI}  !^(/docs/python(.*))$

# These rules are useful outside of the live site so must work when
# the actual URI might have other stuff in front of it, i.e.
# like when it's in a public_html
RewriteCond %{REQUEST_URI}	!(resources/2012/markers(.*))$
RewriteCond %{REQUEST_URI}	!(resources/2013/markers(.*))$
RewriteCond %{REQUEST_URI}	!(resources/2014/markers(.*))$


RewriteRule ^(.+)$ 	index.php?page=$1	[L,QSA]
Redirect /comp https://www.studentrobotics.org/events/sr2013/2013-04-13-competition
Redirect /microgames https://www.studentrobotics.org/resources/2014/SRKickstartTasks.pdf
