Alex Forward <aforward@studentrobotics.org> <alex@lintilla.ecs.soton.ac.uk>
Chris Kirkham <chrisjameskirkham@gmail.com> <ckirkham@optimusprime.ecs.soton.ac.uk>
Chris Kirkham <chrisjameskirkham@gmail.com> Chris <chrisjameskirkham@gmail.com>
Chris Kirkham <chrisjameskirkham@gmail.com> Chris Kirkham <chrisjameskirkahm@gmail.com>
Alistair Lynn <arplynn@gmail.com> <alynn@studentrobotics.org>
Alistair Lynn <arplynn@gmail.com> Alastair Lynn <arplynn@gmail.com>
Jeremy Morse <jmorse@studentrobotics.org> <jeremy.morse@gmail.com>
Jeremy Morse <jmorse@studentrobotics.org> <jmorse+git@studentrobotics.org>
Murray Colpman <muzer@tim32.org>
Andrew Cottrell <acottrell@studentrobotics.org> <Ultimatereality92@gmail.com>
George Field <gfield145@gmail.com> ks07
Rob Spanton <rspanton@zepler.net> Robert Spanton <rspanton@zepler.net>
Rob Spanton <rspanton@zepler.net> Rob Spanton <rob@robspanton.com>
Rob Spanton <rspanton@zepler.net> Rob Spanton <rob@xgoat.com>
Tim Jones <ymbirtt@gmail.com> Tim Jones <ymbirtt@github.com>
Tim Jones <ymbirtt@gmail.com> Ymbirtt <Ymbirtt@gmail.com>
Christopher Baines <cbaines@studentrobotics.org> <cbaines8@gmail.com>

